body {
  -webkit-font-smoothing: antialiased;
}
body, html {
  height: 100%;
	min-width: 970px;
  width: 100%;
  background: #ffffff;
}
.page-home .container {
	min-width: 980px;
	width: 100%;
	margin: 0;
	padding: 0 20px;
	margin: 0 auto;
	max-width: none;
}
.container {
	min-width: 980px;
}
select.form-control {
	padding: 3px;
	margin-top: 5px;
	font-size: 13px;
	height: auto;
}
.mtop30 { margin-top: 30px }
p span {
  display: block
}
p span.br {
  margin: 10px 0
}
a {
  color: #ed3024
}
a:hover {
  color: #e02d22;
}
a:active, a:focus, a:hover {
  text-decoration: none;
}
.img-responsive {
  width: 100%
}
li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::selection {
  background: #ed3024;
  color: #fff;
}
::-moz-selection {
  background: #ed3024;
  color: #fff;
}
.fa-m, .label {
  margin-right: 5px
}
section {
  margin-bottom: 60px;
}
#navbar {
  border-radius: 0;
  border: 0;
	margin-bottom: 20px;
}
#wrap{
  height: auto!important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -42px
}
.push{
  height: 42px
}
.label { 
  font-size: 12px;
  padding: .6em;
  text-align: left;
	border-radius: 0 0 0;
	-moz-border-radius: 0 0 0;
	-webkit-border-radius: 0 0 0;
}
/* Nav */
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
  color: #58595B;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-text:hover{
  color: #ed3024;
}
.all-students .label, .all-teachers .label { cursor: pointer; position: relative; z-index: 999999999; display: inline-block; margin-bottom: 10px }
.all-teachers .label {
	background: rgb(93, 171, 171);
}
.all-teachers .teacher-entry .total-hours{
	margin: 5px 0 10px 0;
}
.all-students .close-me, .all-teachers .close-me {
	display: none
}
#table-schedule {
	margin-top: 20px;
  font-size: 14px;
   width: 100%;
}
#table-schedule th, #table-schedule td {
	padding: 5px;
}
table td
{
	word-break: break-word;
	vertical-align: top;
}
table.fixed
{
table-layout:fixed;
}

table .student-entry  { 
	display: none;
}
.all-students .label, table .student-entry {
	background: rgb(46, 80, 142);
}
table .teacher-entry {
	display: block;
}
table .student-entry, table .teacher-entry{
	margin-top: 5px;
	position: relative;
	width: 95%;
	margin-right: 0;
	white-space: inherit;
	padding-right: 31px;
	line-height: 15px;
	cursor: pointer;
}
table .student-entry:hover, table .teacher-entry:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}
table .teacher-entry.teacher-mode-vacation{
	background: #eee;
	color: #999;
}
table .teacher-entry.teacher-mode-fulltime{
	background: rgb(36, 95, 95);
	color: #fff;
}
table .teacher-entry.teacher-mode-parttime{
	background: rgb(59, 144, 145);
	color: #fff;
}

table .teachers-head, table .students-head {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	display: block;
}
table .students-entries, table .teachers-entries {
	padding: 5px 5px 10px 5px;
	background: rgb(54, 109, 208);
	margin-bottom: 10px;
	position: relative;
}
table .teachers-entries {
	background: rgb(93, 171, 171)
}
#homepage-form.show-students table .student-entry{
	display: block;
}
table .label.teachers-stats { 
	display: block;
	width: 100%;
	margin-top: 10px;
	background: #f7f7f7;
	color: #666;
}
table .label.toggle-students{
  display: block;
  margin-bottom: 10px;
	width: 100%;
	background: rgb(34, 137, 110);
	color: #fff;
	cursor: pointer;
}
#toggle_students{
	margin-left: 10px;
	background: rgb(104, 207, 183);
	border: rgb(104, 207, 183);
	height: 34px;
}
#toggle_students.hide_me {
	background: grey;
	border: grey;
}
table .student_count {
	margin-bottom: 10px;
}
table .label.toggle-students:hover{
	background: rgb(19, 95, 75);
}
.ui-state-error { background: #d9534f }
.ui-draggable-dragging{
	background: #5cb85c;
	cursor: pointer;
	z-index: 99999;
}
.ui-state-active {
  background: #5cb85c 
}
.log { display: none; margin-top: 20px }
.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.close-me {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: #d9534f;
  padding: 7px;
  height: 100%;
}
.close-me span {
	position: relative;
	top: 50%;
	display: block;
	margin-top: -6px;
}
.close-me:hover { background: #A13936 }

.toggle {
  margin: 10px;
  border: 0;
  padding: 8px 14px;
}
#left-panel {
	position: fixed;
	z-index: 999;
	height: 85%;
	width: 23%;
}
#left-panel .head:first-child {
	margin-top: 0;
}
#left-panel .all-teachers, #left-panel .all-students{
	height: 44%;
	overflow-y: scroll;
}
#left-panel .head-teachers {
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

/* ---------------------
 FOOTER
*/
footer {
  color: #333;
  padding: 10px;
  font-size: 1em;
  border-top: 2px solid #f7f7f7;
}

@media (max-width: 992px){
  .navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}